<h1>Tasks</h1>

<div id="new_link">
    <%= link_to "New Task", new_task_path, remote: true %>
</div>

<div id="dynamic_div">
</div>

  <table id="posts">
    <thead>
      <tr>
        <th>Name</th>
        <th>Complete</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody id="post_name">
      <% @tasks.each do |task| %>
        <tr id="task_<%= task.id %>">
          <td><%= task.name %></td>
          <td><%= task.complete %></td>
          <td><%= link_to 'Show', task %></td>
          <div id="edit_link"><td><%= link_to 'Edit', edit_task_path(task), remote: true %></td></div>
          <td><%= link_to 'Destroy', task, remote: true, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
      </tbody>
  </table>
